@import "../../assets/base/colors.css";

.soundtrack-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--accent);
    background-color: var(--dark-gray);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.soundtrack-card:hover {
    transform: translateY(-5px);
    transition: background-color 0.7s ease;
    background-color: var(--medium-gray);
    box-shadow: var(--accent) 0px 2px 4px;
}

.soundtrack-image {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.soundtrack-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.soundtrack-info h3 {
    margin: 0;
    height: 3.4rem;
    font-size: 1.2rem;
    color: var(--accent);
}

.soundtrack-info p {
    margin: 0;
    font-size: 1rem;
    color: var(--off-white);
}

.sample-button {
    background-color: var(--light-gray);
    color: white;
    border: none;
    padding: 8px 16px;
    margin: auto;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}

.sample-button:hover {
    background-color: var(--accent);
    color: black;
}


@media (max-width: 480px) {
    .soundtrack-info h3 {
        font-size: 1rem;
    }

    .soundtrack-info p {
        font-size: 0.8rem;
    }
}
