@import "../../assets/base/colors.css";

.main-nav {
    display: flex;
    align-items: center;
    background-color: var(--dark-gray);
    padding: 0.5rem 2rem;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
}

.main-nav a {
    color: var(--off-white);
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
}


.main-nav a.active {
    color: var(--accent);
}



@media (max-width: 968px) {
    .main-nav {
        flex-direction: column;
        padding: 1rem;
    }
    
    .logo {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    
    .nav-links {
        flex-direction: column;
        width: 100%;
    }
    
    .main-nav ul {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }
    
    .secondary-links {
        border-top: 1px solid var(--medium-gray);
        padding-top: 0.5rem;
        margin-top: 0.5rem;
    }
}
